
    * {
      font-family: "Josefin Sans";
    }
    
    body {
      margin: 0;
      padding: 0;
      background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    }

    .container {
      display: flex;
      justify-content: center;
      background-image: url(../images/bg-pattern-desktop.svg);
      background-position-x: -5%;
    }

    .cover-img-mobile {
      display: none;
    }

    .cover-img-desktop {
      min-width: 42%;
    }

    .main-layout {
      height: 100%;
      padding-left: 9.5rem;
      padding-right: 12rem;
    }

    .logo {
      margin-top: 4rem;
    }

    .title-area {
      margin-top: 7rem;
    }

    /* Input */

    .email-section {
      position: relative;
    }

    #email {
      padding: 1.25rem;
      margin-top: 1rem;
      border-radius: 2rem;
      width: 100%;
      border: 1px solid hsl(0, 36%, 70%);
      outline: none;
      background-color: transparent;
      box-sizing: border-box;
    }

    #email:focus {
      border: 1.5px solid hsl(0, 36%, 60%);
    }

    #email:hover {
      border: 1.5px solid hsl(0, 36%, 60%);
    }

    #email::placeholder {
      color: hsla(0, 36%, 70%, 0.8);
      font-size: 1rem;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
    .error-icon {
      position: absolute;
      top: 2rem;
      right: 7rem;
    }

    /* Submit button */

    .submit-button {
      background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
      border: none;
      border-radius: 2rem;
      padding-block: 1rem;
      padding-inline: 2.5rem;
      color: white;
      box-shadow: 0 8px 16px hsla(0, 74%, 74%, 0.4);
      position: absolute;
      right: 0;
      top: 1rem;
    }

    .submit-button:hover {
      background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 80%, 86%));
    }

    /* Text */

    .title {
      font-size: 4rem;
      font-weight: 600;
      color: hsl(0, 6%, 24%);
      text-transform: uppercase;
      line-height: 4.5rem;
      letter-spacing: 1rem;
      margin-bottom: 1rem;
    }

    .title span {
      color: hsl(0, 36%, 70%);
      font-weight: 300;
    }

    .subtitle {
      color: hsl(0, 36%, 70%);
      font-weight: 400;
      line-height: 1.75rem;
    }

    .error-message {
      font-size: 0.8em;
      color: hsl(0, 93%, 68%);
      margin-left: 1.2rem;
    }

    .success-message {
      font-size: 0.8em;
      color: hsl(0, 36%, 70%);
      margin-left: 1.2rem;
    }

    @media screen and (max-width:48em) {

      body {
        background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
      }

      .container {
        display: block;
        background-image: none;
      }

      .logo {
        margin-block: 2rem;
        margin-left: 2rem;
      }

      .cover-img-mobile {
        display: block;
        width: 100%;
      }

      .cover-img-desktop {
        display: none;
      }
  
      .main-layout {
        padding-left: 0;
        padding-right: 0;
      }

      .title-area {
        margin-top: 4rem;
        text-align: center;
      }

      .email-section {
        margin: 3rem;
        margin-top: 0;
        align-items: center;
      }

      #email {
        width: 100%;
      }

      .submit-button {
        padding-inline: 2rem;
      }

      .title {
        margin-left: 1rem;
        text-align: center;
        font-size: 3rem;
      }

      .subtitle {
        font-size: 1.1rem;
        margin-inline: 3rem;
      }

    }
